<div class="stuff">
  
  	<h3 class="<%= 'hide' if current_page?(contact_path) %>"><%= link_to 'Company Members', root_path, class:'title-link' %></h3>
  
  <div class="topic-underline"></div>
  <div class="col-lg-6 col-md-6 col-xs-6">
  	<%#= image_tag("https://db.tt/mx9xwQsu", width:"100%") %>
  	<div class="well">
  		<ul>
  			<li>Shiwin Wu</li>
  			<li>Skype:12465646</li>
  			<li>6189416@gmail.com</li>
  		</ul>
  	</div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
  	<%#= image_tag("https://db.tt/TgKwB4zJ", width:"100%") %>
  	<div class="well">
  		<ul>
  			<li>Lili Chang</li>
  			<li>Skype:12465646</li>
  			<li>6189416@gmail.com</li>
  		</ul>
  	</div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
  	<%#= image_tag("https://db.tt/wVlcIan2", width:"100%") %>
  	<div class="well">
  		<ul>
  			<li>Piya Wu</li>
  			<li>Skype:12465646</li>
  			<li>6189416@gmail.com</li>
  		</ul>
  	</div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
  	<%#= image_tag("https://db.tt/sUqgQpPT", width:"100%") %>
  	<div class="well">
  		<ul>
  			<li>Maggie Wu</li>
  			<li>Skype:12465646</li>
  			<li>6189416@gmail.com</li>
  		</ul>
  	</div>
  </div>
</div>