<div class="row">
	<h2>Contact Us</h2>
	<div class="col-lg-6 col-md-6 col-xs-6">
	  <%= render 'partials/contactForm' %>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-6">
	  <%= render 'partials/companyMembers' %>
	</div>
</div>